@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root{
    --delete: #cf4f4f;
    --edit: #4db6d3;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
#container {
    width: 100%;
    height: 100%;
}
.mini-container {
    width: 50%;
    height: 100%;
    display: flex;
}
.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#navbar {
    color: white;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: var(--edit);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#navbar p{
    padding: 0;
    font-size: 30px;
}
#field-content {    
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
}
#form-content {
    width: 400px;
    padding: 10px;
    /* background-color: rgb(228, 207, 168); */
}
#list-content{
    width: 500px;
    display: flex;
    flex-direction: column;
}
input[type='text'],input[type='number'],input[type='password']{
    width: 100%;
    padding: 8px 13px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #a09f9f;
    border-radius: 4px;
    box-sizing: border-box;
}
/* List Product Contents */
.all-list {
    padding: 10px;
    /* background-color:#a09f9f; */
    font-size: 13px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.show-product,.show-rate,.show-desc {
    width: 80%;
    padding: 5px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #a09f9f;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.btn {
    width: 200px;
    padding: 6px;
    border: none;
    color: aliceblue;
    border-radius: 4px; 
}
.btn:hover {
    border-radius: 4px;
    box-shadow: 0 0 5px 0 antiquewhite inset, 0 0 20px 2px antiquewhite;
}
.btn:focus{
    outline: none;
}
.del-btn {
    background-color: var(--delete);
}
.edit-btn {
    background-color: var(--edit);
}
/*  */
input[type='text']:focus{
    border: 1px solid var(--edit) ;
    outline: none;
}
input[type='number']:focus{
    border: 1px solid var(--edit) ;
    outline: none;
}
input[type='submit']:hover{
    border: 1px solid var(--edit) ;
}
input[type='submit']{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--edit);
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}